.main p {
    text-align: left;
    vertical-align: top;
    color: #abf;
}

.main h2 {
    text-align: center;
    background-color: #00f;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.img {
    width: 100℅;
    height: 200px;
    background-color: #fff;
    color: #abe;
    transition: background 3s;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.img:hover {
    background-color: #abe;
    color: yellow;
}

.main sup {font-size: 12px;}

@media screen and (min-width: 580px) {
    .img {
        margin: 0 10px 10px 10px;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 2px 3px 5px #ccc, inset -2px -3px 5px #ccc;
    }
}
