body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    font-family: san-serif;
    font-size: 18px;
}

.header {
    background-color: #f66;
}

.header h1 {
    font-family: elephant, Arial, georgia;
    font-size: 32px;
    text-align: center;
    word-spacing: -3px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #f00;
}
.header h1 a {
    text-decoration: none;
}

.header p {
    position: relative;
    margin-top: -20px;
}
#slogan {
    text-align: center;
    margin-bottom: 15px;
}
#slogan span {
    margin-bottom: 15px;
    background-color: #000;
    font-family: "New Cursive", cursive;
    font-style: oblique;
    font-size: 18px;
    border-radius: 7px;
}

.navbar {
    background-color: rgba(200, 70, 70, 0.4);
}

.navbar>ul {
    list-style-type: none;    
}

.navbar li {
    display: inline;
    text-align: center;
    text-transform: capitalize;
    padding: 24px 10px 24px 10px;
}
li a {
    text-decoration: none;
    color: #fff;
}
li a:hover {
    background-color: #e91;
    color: #00f;
}

.contents {
    background-color: #f00;
    font-family: arial;
    text-align: center;
}

.contents h1{
    background-color: #55e;
    text-transform: capitalize;
    color: #f00;
    letter-spacing: -2px;
}

.contents p {
    background-color: #000;
    font-family: "New Cursive", cursive;
    font-style: oblique;
    font-size: 18px;
    border-radius: 7px;
}

.contents img, button {
    display: block;
}

#explore {
    margin: 15px auto;
    color: #f77;
    background-color: #000;
    height: 40px;
    width: 90px;
    border-radius: 15px;
}

.footer {
    background-color: #000;
    color: #fff;
    font-family: monospace;
}

.contacts {
    display: inline;
    word-spacing: -7px;
    padding: 15px;
}

.contacts::second-child {
    margin-left: auto;
    margin-right: auto;
}
#copy { text-align: center;}

@media screen and (max-width: 480px) {
    .contacts {
	display: block;
	text-align: center;
    }
}
