/*Stylesheet of My shopping list.*/

/*Body style with no margins and paddings, foreground and background color, and font of the entire website. */
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    font-family: san-serif;
    font-size: 18px;
}

/*font and color style for the header/top of the page.
Slogan and Navigation: List style with no bulletings, Inline display and some paddings for the Navigation pannel. Cursive font and black bacground for the slogan*/

.header, .contents {
    background-color: #d00;
}

.header h1 {
    font-family: elephant, Arial, georgia;
    font-size: 32px;
    text-align: center;
    word-spacing: -3px;
    text-transform: uppercase;
    font-variant: small-caps;
}
.header h1 a {
    text-decoration: none;
    color: #fff;
}
.header h1 a:hover {
    color: #f00;
    background-color: #45e;
    border-radius: 20px;
}
.header p {
    position: relative;
}
#slogan {
    text-align: center;
}
#slogan span {
    background-color: #000;
    font-family: "New Cursive", cursive;
    font-style: oblique;
    font-size: 18px;
    border-radius: 7px;
}

.navbar {
    background-color: rgba(200, 70, 70, 0.4);
}

.navbar>ul {
    font-size: 20px;
    list-style-type: none;
    padding: 20px 50px;
}

.navbar li {
    display: inline;
    text-align: center;
    text-transform: capitalize;
    padding: 5px auto;
}
.navbar li a {
    text-decoration: none;
    color: #fff;
}
.navbar li a:hover {
    background-color: #e91;
    color: #00f;
}

/*The contents: Aligned at the center and block-level display for the logo and explore button*/
.contents {
    font-family: arial;
    text-align: center;
}

.contents h1{
    background-color: #55e;
    text-transform: capitalize;
    color: #f00;
    letter-spacing: -2px;
}

.contents p {
    background-color: #000;
    font-family: "New Cursive", cursive;
    font-style: oblique;
    font-size: 18px;
    border-radius: 7px;
}

.contents img, button {
    display: block;
}

#mylist {
    margin: 10px auto;
    border-radius: 50px;
    box-shadow: offset 2px 3px 5px #ccc, inset -2px -3px 5px #ccc;
}

#explore {
    margin: 15px auto;
    color: #f77;
    background-color: #000;
    height: 40px;
    width: 90px;
    border-radius: 15px;
    text-transform: capitalize;
}
#explore:hover {
    color: #00f;
    background-color: #bea1a9;
}
#explore:hover a {color: #ff0;}
/* Styles for Copyrights and Contact infoemation using the display property and paddings with no margins.*/
.footer {
    background-color: #000;
    color: #fff;
    font-family: monospace;
}

.contacts {
    display: inline;
    word-spacing: -7px;
    padding: 15px;
}

#copy { text-align: center;}

/* Media queries with width*/
@media screen and (min-width: 800px) {
   #st, #nd, #rd {position: relative;}
   #st {left: 120px;}
   #nd {
        float: right;
        right: 600px;
    }
   #rd {
        float: right;
        right: 120px;
    }
    .contacts {
	display: block;
	text-align: center;
    }
}
